#map {
  width: 100%;
  height: 400px;
  background-color: grey;
}

#logo {
  height:65px;
}

#name {
  margin-left: 8px;
  font-size: 32pt;
  vertical-align: top;
}

#account {
  padding-top: 5px;
}

#addDeviceForm, #main, #error {
  display: none;
}

nav {
  height: 65px;
  margin-bottom: 10px;
}

.input-field input {
   color: white;
}

.info-tab {
  padding: 3px;
  margin-top: 3px;
}

.info-btn {
  width: 100%;
}

.graph, .map {
  width: 100%;
  height: 300px;
}

/* Default tab text color */
.tabs .tab a{
  color:#546e7a /* blue-grey darken-1 */
}

/* Default tab text color */
.tabs .tab{
  background-color:#90a4ae; /* blue-grey lighten-2 */
}

/*Text color on hover*/
.tabs .tab a:hover {
  background-color:#607d8b; /* blue-grey */
  color:#90a4ae; /* blue-grey lighten-2 */
}

/*Background and text color when a tab is active*/
.tabs .tab a.active {
  background-color:#37474f; /*blue-grey darken-3*/
  color:#eceff1; /* blue-grey lighten-5 */
}

 /*Color of underline*/
.tabs .indicator {
  background-color:#eceff1; /* blue-grey lighten-5 */
}

.activity-header {
  padding-top: 10px;
  padding-bottom: 10px;
}

.no-uppercase {
  text-transform: none;
}

.activity-container {
  margin-bottom: 5px;
}

.card, .row {
  margin: 0px;
}

/* Weather Forecast Stuff */
.weather-card {
  display: inline-block;
  flex: 0 0 auto;
  width: 250px;
  margin-right: 7px;
  margin-left: 7px;
}

.weather-icon-container{
  text-align: center;
}

.scrolling-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

.scrolling-wrapper-flexbox {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
}

.scrolling-wrapper {
  -webkit-overflow-scrolling: touch;
}
