#map {
    width: 100%;
    height: 400px;
    background-color: grey;
}

#logo {
  height:65px;
}

#name {
  margin-left: 8px;
    font-size: 32pt;
    vertical-align: top;
}

#account {
   padding-top: 5px;
}

#addDeviceForm, #main, #error {
   display: none;
}

#nav {
  height:65px;
}

.input-field input {
   color: white;
}

.info-tab {
  padding-left: 3px;
  padding-right: 3px;
}
